<div class="corner-marks{% if page.url contains 'sobre' or page.url contains 'contato' %} corner-marks--light{% endif %}" aria-hidden="true">
  <svg class="corner-mark corner-mark--tl" viewBox="0 0 20 28" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h20v28l-10-7-10 7V0z"/></svg>
  <svg class="corner-mark corner-mark--tr" viewBox="0 0 20 28" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h20v28l-10-7-10 7V0z"/></svg>
  <svg class="corner-mark corner-mark--bl" viewBox="0 0 20 28" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h20v28l-10-7-10 7V0z"/></svg>
  <svg class="corner-mark corner-mark--br" viewBox="0 0 20 28" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h20v28l-10-7-10 7V0z"/></svg>
</div>
